/*-------------------*\
-- MIXINS
\*-------------------*/
@mixin reset-a {
  text-decoration: none;
  border: none;
  background-color: none;
  display: block;
  display: flex;
  
  justify-content: center;
  align-items: center;
}

@mixin active {
  color: $color-primary;
  font-weight: bold;
}

@mixin placeholder-style {
  color: $color-primary;
  font-size: 1.6rem;
  line-height: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0.6;
}

@mixin bottom-style {
  & {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .icons__icon {
      &:not(:last-child) {
        margin-right: 3.8rem;
      }
    }
  }
}

@mixin arrow-style {
  font-size: 1.6rem;
  line-height: 1.8rem;
  color: $color-primary-light-1;
}
